/* Navigation
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.navbar-container {
  max-width: 100%;
  background: #fff;
}

.navbar-list {
    list-style-type: none;
    padding-top: 1.2rem;
    display:inline-block;
    float:right;
    margin:0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.625rem;
}

.navbar-logo {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left:0;
    float:left;
}

.navbar-logo a {
    text-align: left;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    letter-spacing: -0.125rem;
    font-weight: 700;
}

.navbar-item {
    display: inline-block;
    float:left;
    margin: 0;
}

.navbar-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    color: #000;
}

.navbar-item:hover a {
    color:red;

}

.show-menu {
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 0.8rem;
    display: none;
    cursor: pointer;
}

.show-menu:before { content:'\2630'; }

/*Hide checkbox*/
input.menu-toggle[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input.menu-toggle[type=checkbox]:checked ~ .navbar-list{
    display: block;

}


@media (max-width: 610px) {
    .navbar-item {
        display: block;
        width: 100%;
    }
    .navbar-list {
        display: none;
        width: 100%; 
    }

    .show-menu {
        display: inline-block;
        float: right;
        margin-top: 2.1rem;

        
    }

    .navbar-logo {
        display: inline-block;
        width: initial;
    }
}

.nav-pager {
    width: 100%;
    height: 100%;
    display: table;
    pointer-events: none;
}

.nav-pager-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-pager-button-wrap {
    display: table-cell; 
    vertical-align: middle;
}

.nav-pager-button {
    pointer-events: all;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: rgba(250, 250, 250, 0.5);

}

.nav-pager-button:hover {
    color: rgb(250, 250, 250);

}

.nav-pager-left {
    text-align: left; 
}

.nav-pager-right {
    text-align: right;
}





/* Header image with text 
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.header {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.header-with-image {
    background-image: url("http://summitsearch.org/system/photos/photos/2423/medium/IMG_5504.jpg?1362076856");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: block;
    width: 100%;
    height: 600px;

}

@media (max-width: 750px) {    
    .header-with-image {
        height:300px;
    }
}

.header-scrim {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

}

.header-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.header-cta-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.header-cta {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
}

.header-cta-title {
    color:white;
}

.header-cta-subheader {
    font-size: 2rem;
    font-weight: 400;
    color:white;
}

@media (max-width: 750px) {
    .header-cta {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 750px) {
    .header-cta-portfolio-entry {
        text-align: left;
    }
}


.body-text-container.container{
  max-width: 700px;
}


/* Portfolio items grid
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.section-heading {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10rem;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
    border-bottom: 1px solid #ddd;
    line-height: 0;
    font-size: 16px;
    font-weight: 400;
}



h5 span {
    background: #fff;
    padding: 0 15px;
}

.image-grid {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.portfolio-grid-item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.grid-item-header-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.grid-item-header {
    display: table;
    width: 100%;
    height: 100%;
}

.grid-item-header-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;

     transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -webkit-transition: transform .25s ease-in-out;
}

.grid-item-image-expand {
    padding: 50%;
    overflow: hidden;
}


.grid-item-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


.grid-item-header:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.portfolio-grid-item:hover .grid-item-image-expand > .grid-item-image:nth-child(2) {
    opacity: 0;
}
.portfolio-grid-item:hover .grid-item-image-expand > .grid-item-image:nth-child(1) {
   
}

.portfolio-grid-item:hover .grid-item-header-title {
    color:white;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

@media (min-width: 550px) {
    .four.columns.portfolio-grid-item-wrap {
        width: 31.33333333333333%;
    }
    .columns.portfolio-grid-item-wrap {
        margin-left: 3%; 
        margin-bottom: 2%;
    }
    .columns.portfolio-grid-item-wrap:first-child {
        margin-left: 0; 
    }
}

@media (max-width: 550px) {
  /*  .grid-item-image {
        height: 50%;
        margin: 0;
    }
 
    .grid-item-header-wrap {
        height: 50%;
    }*/
    .grid-item-image-expand {
        padding: 25%;
    }

    .grid-item-header {
    background-color: rgba(0, 0, 0, 0.4);
    }

    .grid-item-header-title {
    color: white;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    }

    .portfolio-grid-item-wrap:not(:last-child) {
        margin-bottom: 2rem;
    }



}

.see-more a{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: #64c9dc;
    display:block;
    padding-top: 2rem;
}

.see-more:hover a {
    color: #666666;
}

/* Portfolio entry (GTR website)
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.mobile-singles {
    padding:20px;
}

.tablet-singles {
    padding:20px;
}


.color-fill {
    background-color: #666666;
}



/*.portfolio-item-section {  
    padding-top: 5rem;
    padding-bottom: 4rem; 
}

.portfolio-item-subhead {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}

.portfolio-item-header {
    text-align: left;

}

.left-align-link a{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    color: #64c9dc;
    display:block;
}

.left-align-link:hover a {
    color: #666666;
}*/


/*About page - personal statement section
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.page-section{
    padding-left: 16rem; 
    padding-right: 16rem;   
    padding-top: 10rem;
    padding-bottom: 10rem; 
}


@media (max-width: 1000px) {
    .page-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}



.page-section-left-aligned {
    padding-left: 0;
    padding-right: 0;
    text-align: left;

}

@media (max-width: 550px) {
    .page-section-left-aligned > .page-section-header {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

     .page-section-left-aligned > .page-section-content {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
}


@media (min-width: 750px) {
    /* ">" means that every child after that particular parent will be affected. this reduces extra classes creation*/
    .page-section-left-aligned > .page-section-header {
        text-align: left;
    }

    .page-section-left-aligned > .page-section-content {
        text-align: left;
    }

    .page-section-left-aligned > .page-section-link {
        float: left;
    }
}


.page-section-content {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.page-section-header {
    text-align: center;

}


.panel {
    background-color: rgba(224, 224, 224, 0.62);
    padding-top: 5rem;
    padding-bottom: 6rem;

}

.panel-no-bottom {
    background-color: rgba(224, 224, 224, 0.62);
    padding-top: 5rem;
}

.panel-color-turquoise {
    background-color: #8fb8bd;

}                 

.panel-color-light-blue {
    background-color: #acc6d3;

}  

.panel-color-salad-green {
    background-color: #cbd443;

}

.panel-color-light-green {
    background-color: #c0d1a7;

}


.panel-color-blue {
    background-color: #00649c;

}   


.panel-color-grey {
    background-color: #eef0f1;

}

.panel-color-white {
    background-color: #ffffff;

}

.panel-full-width {
    width: 100%;
}

.page-section-link a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #64c9dc;
    text-align: center;
    color: #64c9dc;

}

.page-section-link {
    text-align: center;
}

.page-section-link:hover a {
    color: #666666;
    border-bottom: 1px solid #666666;
}

.page-section-link-unclickable {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #666666;
}

/* About page - skills section 
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.about-skills-content {
    
}

.skills-item {
    width: 30.6666666667%;
}

@media (max-width: 400px) {
    .skills-item-title {
        font-size: 2.4rem;
    }
}

@media (min-width: 400px) and (max-width: 550px) {
    .skills-item-title {
        font-size: 2.4rem;
    }
}

@media (min-width: 550px) {
    .skills-item-subhead {
        font-size: 1.6rem;
    }
}

@media (max-width: 750px) {
    .skills-item {
        width: 100%;
        margin: 0;
    }
    .skills-item-subhead {
        font-size: 2rem;
    }   
}

@media (max-width: 1000px) and (min-width: 750px) {
    .skills-item-title {
        font-size: 2rem;
    }
}

@media (min-width: 1000px) {
    .skills-item-subhead {
        font-size: 2rem;
    }
}

@media (min-width: 1000px) {
    .skills-item-title {
        font-size: 2.4rem;
    }
}

.skills-item-image {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
}

.skills-item-title {
    text-align: center;
    color: #202020;   
    font-family: 'Montserrat', sans-serif;
}

.skills-item-subhead {
    text-align: center;  
    font-weight: 400;
}

.line-separator {
    height:1px;
    background:#717171;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    margin-top: 0rem;
    margin-bottom: 10rem;
}

.project-explanation {
    padding-top: 10rem;
    padding-bottom: 10rem;
}


.last-figure {
    margin-top: 0rem;
    margin-bottom: 10rem;
}

/*Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.footer-social-container {
    background: #333333;
    margin-top: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(/artwork/stardust.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}



.footer-copyright-text {
    text-align: center;
    display: block;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 0rem;
    text-decoration: none;
    color: #c0c0c0;
}

.footer-list {
    text-align: center;
    margin:0;
    font-size: 11px;
}

.footer-item {
    display: inline-block;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0rem;
}

.footer-item .fa {
    padding: 1rem;
    color: #fff;
}


/* Buttons
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: transparent;
    border-color: #fff; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.button.button-form,
button.button-form,
input[type="submit"].button-form,
input[type="reset"].button-form,
input[type="button"].button-form {
    color: #000;
    background-color: transparent;
    border-color: #000;
   }
.button.button-form:hover,
button.button-form:hover,
input[type="submit"].button-form:hover,
input[type="reset"].button-form:hover,
input[type="button"].button-form:hover,
.button.button-form:focus,
button.button-form:focus,
input[type="submit"].button-form:focus,
input[type="reset"].button-form:focus,
input[type="button"].button-form:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}


/*Form
––––––––––––––––––––––––––––––––––––––––––––––––––*/

  .contact-form {
    padding-top: 4rem;
  }


/* Skeleton overwrites
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body {
  font-family: 'Montserrat', sans-serif;
}

p, h5, h6 {
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Lato', sans-serif;
}

h3 { 
    font-size: 3.0rem; 
    line-height: 1.3;  
    letter-spacing: -.1rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h3 { font-size: 3.5rem; 

  }
}

.container {
  max-width: 1200px;
}

.button {
    font-size: 16px;
    height: 42px;
    font-weight: 400;
}


/* Utilities
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
}
 
.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Utilities
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.u-full-height {
    height: 100%;
}

/* Figures
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.figure-full-bleed {
    margin: 0;
    width: 100%;
}

.image-with-margin-after {
    margin-top: 0rem;
    margin-bottom: 12rem;

}


.u-full-width {

}

.image-full-width {
    display:block;
    width:100%;
    box-sizing: border-box;
}

.half-column {
    width: 50%;
}

.b {
    display: block;
    
    }   
