<a href="/contact.html" class="portfolio-grid-item">
    <div class="grid-item-image-wrap">
        <div class="grid-item-image-expand">
            <div class="grid-item-image" style="background-image: url('{{ site.images_path }}/contact/contact-thumb-alt.jpg')"></div>
            <div class="grid-item-image" style="background-image: url('{{ site.images_path }}/contact/contact-thumb-main.jpg')"></div>
        </div>
    </div>
    <!-- <div class="grid-item-header-wrap">
        <div class="grid-item-header">
            <h6 class="grid-item-header-title">Contact me</h6>
        </div>
    </div> -->
</a>