<section class="col footer">
    <div class="container">
        <div class="col col-7 footer-details padding-top-l padding-bottom-l">
    		<h2 class="footer-content">Let’s work together! <a href="mailto:egle.strockyte@gmail.com" target="_blank" class="contact-link">Email me</a> or find me on <a href="https://twitter.com/eglestrockyte" class="contact-link">twitter</a>, <a href="https://www.linkedin.com/in/eglestrockyte" target="_blank" class="contact-link">linkedin</a> and <a href="https://www.instagram.com/estrockyte" target="_blank" class="contact-link">instagram</a>.</h2>
    	</div>
    </div>
</section>


