 <nav class="u-max-full-width navbar-container">
    <div class="container">
        <div class="navbar-logo navbar-item">
            <a href="/index.html">Egle Strockyte</a>
        </div>

        <label for="show-menu" class="show-menu"></label>
        <input class="menu-toggle" type="checkbox" id="show-menu" role="button">

        <ul class="navbar-list">
            <li class="navbar-item"><a href="/portfolio.html">Portfolio</a></li>
            <li class="navbar-item"><a href="/about.html">About</a></li>
            <li class="navbar-item"><a href="/contact.html">Contact</a></li>
        </ul>
    </div>                     
</nav>

<section class="header header-with-image">
    {% if include.context == "home" %}
        <h1 class="header-title">Some text here</h1>
        <a class="button button-primary" href="">Portfolio</a>
    {% endif %}
    {% if include.context == "contact" %}
        <h1 class="header-title">Contact me</h1>
        <a class="button button-primary" href="mailto:egle.strockyte@gmail.com">Email me</a>
    {% endif %}  
    {% if include.context == "portfolio" %}
        <h1 class="header-title">See my work</h1>
    {% endif %} 
    {% if include.context == "about" %}
        <h1 class="header-title">See my skills</h1>
    {% endif %}  
</section>
