
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box; 
}


@media screen and (min-width: 656px) and (max-width: 991px) {
    .container {
        width: 91.66%;
        }
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;

}

@media screen and (max-width: 730px) {
    .flexcontainer {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;

    }
}

.portfolio-entry-button {
   margin-left: auto;
   -webkit-align-items: flex-end;
}


@media screen and (max-width: 730px) {
    .portfolio-entry-button {
         margin-left: 0;
         margin-top: 1.8rem;
    }
}





.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.test-pad {
    width: 50%;
    height: 100px;
    background: red;
    display: flex;
    margin-right: 30px;
}

.test {
    width: 50%;
    height: 100px;
    background: red;
    display: flex;
}


/* Main navigation bar
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.navbar {
    width: 100%;
    height: 56px;
    background: #000;
    box-sizing: border-box;
}

@media screen and (min-width: 656px) {
    .navbar {
        height: 80px;
        }
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.9rem;
    text-align: left;
}

.navbar-logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; /* ms0 */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
}

/* Below is .navbar-logo type settings on any device that has resolution 656px or larger */

@media screen and (min-width: 656px) {
    .navbar-logo a {
        font-size: 1.728rem; /* ms5 */
        line-height: 1.2;
        letter-spacing: 0.18rem;
    }
    .navbar-logo {
        padding-top: 1.3rem;
    }
}

.navbar-item {
    display: inline-block;
    padding-top: 1rem;
    text-align: right;
}

.navbar-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; /* ms0 */
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

/* Below is navbar-item type settings on any device that has resolution 656px or larger */

@media screen and (min-width: 656px) {
    .navbar-item a:hover {
        color: #7A7A7A;
    }
    .navbar-item {
        padding-top: 1.4rem;
    }
}


/* Intro header
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.intro-header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.intro-greeting {
    margin: auto;
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .intro-greeting {
    width: 66.66%;
    }
}


@media screen and (max-width: 991px) {
    .intro-greeting {
        width: 100%;
        }
}



.intro-greeting-title {
    margin: 0;
    padding-bottom: 1rem;
}




/* Portfolio entries strips
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.portfolio-entry-strip {
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    }



.portfolio-entry-strip-content-container {
    margin: auto;
}

@media screen and (max-width: 991px) {
    .portfolio-entry-strip-content-container {
        width: 100%;
        }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .portfolio-entry-strip-content-container {
    width: 66.66%;
    }
}

.portfolio-entry-strip-title {
    color: #fff;
    margin: 0;
}

.portfolio-entry-strip-subtitle {
    color: #fff;
    margin: 0;
}

.portfolio-entry-strip-button-label {
    color: white;
    margin:0;
}

.pink-strip {
    background-color: #E512BB;
}

.cyan-strip {
    background-color: #24BEFF;
}

.blue-strip {
    background-color: #4C6EFF;
}

.lilac-strip {
    background-color: #9E00FF;
}

.teal-strip {
    background-color: #25CAB4;
}

.purple-strip {
    background-color: #34008C
}

.rouge-strip {
    background-color: #F25E88
}

/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.contact-link {
    color: black;
}

a.contact-link:hover {
        color: #7A7A7A;
    }

.footer-details {
    margin: auto;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-details{
    width: 66.66%;
    }
}

@media screen and (max-width: 991px) {
    .footer-details {
        width: 100%;
        }
}

/* Icons
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.fa {
    display: inline-flex;
}

