
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box; 
}


@media screen and (min-width: 656px) and (max-width: 991px) {
    .container {
        width: 83.33%;
        }
}




.flexcontainer {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;

}

@media screen and (max-width: 730px) {
    .flexcontainer {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;

    }
}

.portfolio-entry-button {
   margin-left: auto;
   -webkit-align-items: flex-end;
}


@media screen and (max-width: 730px) {
    .portfolio-entry-button {
         margin-left: 0;
         margin-top: 1.8rem;
    }
}


.row {
    width: 100%;
    display: flex;
}


.indented-row {
    padding: 0 24px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* Intro header
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.body-content-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.page-section {
    margin: auto;
    max-width: 100%;
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .page-section{
    width: 66.66%;
    }
}


@media screen and (max-width: 991px) {
    .page-section {
        width: 100%;
        }
}




.page-section-header {
    margin: 0;
    padding-bottom: 1rem;
}


.page-section-header-greeting {
    margin: 0;
    padding-bottom: 1rem;
}




/* Portfolio entries strips
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.portfolio-entry-strip {
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    }



.portfolio-entry-strip-content-container {
    margin: auto;
}

@media screen and (max-width: 991px) {
    .portfolio-entry-strip-content-container {
        width: 100%;
        }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .portfolio-entry-strip-content-container {
    width: 66.66%;
    }
}

.portfolio-entry-strip-title {
    color: #fff;
    margin: 0;
}

.portfolio-entry-strip-subtitle {
    color: #fff;
    margin: 0;
}

.portfolio-entry-strip-button-label {
    color: white;
    margin:0;
}

.pink-strip {
    background-color: #E512BB;
}

.cyan-strip {
    background-color: #24BEFF;
}

.blue-strip {
    background-color: #4C6EFF;
}

.lilac-strip {
    background-color: #9E00FF;
}

.teal-strip {
    background-color: #25CAB4;
}

.purple-strip {
    background-color: #34008C
}

.rouge-strip {
    background-color: #F25E88
}

/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.contact-link {
    color: black;
}

a.contact-link:hover {
        color: #7A7A7A;
    }

.footer-details {
    margin: auto;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-details{
    width: 66.66%;
    }
}

@media screen and (max-width: 991px) {
    .footer-details {
        width: 100%;
        }
}

/* Image
––––––––––––––––––––––––––––––––––––––––––––––––––*/
 .full-width {
    width: 100%;
 }



