/* Navigation
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.navbar {
    width: 100%;
    height: 56px;
    background: #000;
    box-sizing: border-box;
}

@media screen and (min-width: 656px) {
    .navbar {
        height: 72px;
        }
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.8rem;
    text-align: left;
}

.navbar-logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; /* ms0 */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
}

/* Below is .navbar-logo type settings on any device that has resolution 656px or larger */

@media screen and (min-width: 656px) {
    .navbar-logo a {
        font-size: 1.728rem; /* ms5 */
        line-height: 1.2;
        letter-spacing: 0.18rem;
    }
    .navbar-logo {
        padding-top: 1rem;
    }
}

.navbar-list {
    list-style-type: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display:inline-block;
    float:right;
    margin:0;
    font-weight: 400;
    line-height: 0rem;
}

@media (max-width: 656px) {
    .navbar-list {
        padding-top: 0em;
        padding-bottom: 1em;
        line-height: 1.5rem;
    }
}


.navbar-item {
    display: inline-block;
    float:left;
    margin: 0;
    font-size: 1.5rem;
}

.navbar-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    color: #fff;
}

.navbar-item:hover a {
    color: #64c9dc;
    cursor: pointer;


}

@media screen and (max-width: 656px) {
    .navbar-item a {
        color: red;
    }
}

.show-menu {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 1em;
    padding-top: 2em;
    display: none;
    cursor: pointer;
}

/*Hide checkbox*/
input.menu-toggle[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input.menu-toggle[type=checkbox]:checked ~ .navbar-list{
    display: block;

}

@media (max-width: 656px) {
    .navbar-item {
        display: block;
        width: 100%;
    }

    .navbar-list {
        display: none;
        width: 100%;
    }

    .show-menu {
        display: inline-block;
        float: right;
    }

    .navbar-logo {
        display: inline-block;
        width: initial;
    }
}
