/* Main navigation bar
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.navbar {
    width: 100%;
    height: 60px;
    background: #000;
    box-sizing: border-box;
}

@media screen and (min-width: 656px) {
    .navbar {
        height: 68px;
        }
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.9rem;
    text-align: left;
}

.navbar-logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; /* ms0 */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
}

/* Below is .navbar-logo type settings on any device that has resolution 656px or larger */

@media screen and (min-width: 656px) {
    .navbar-logo a {
        font-size: 1.728rem; /* ms5 */
        line-height: 1.2;
        letter-spacing: 0.18rem;
    }
    .navbar-logo {
        padding-top: 0.75rem;
    }
}


.navbar-item {
    display: inline-block;
    padding-top: 0.95rem;
    text-align: right;
}


@media screen and (min-width: 656px) {
    .navbar-item {
        padding-top: 0.85rem;
    }
}



.navbar-item-title {
  font-size: 0.694rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 2rem;
}

.navbar-item-title:hover {
    text-decoration: underline;
    }




