/* Main navigation bar
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.navbar {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (min-width:656px) {
  .navbar {
  }

}

.navbar-logo {
  display: inline-block;
  padding-top: 0.95rem;
  line-height: 1.5rem;
  height: 100%;
  text-align: left;
}

.navbar-logo a {
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem; /* ms1 */
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #000;
}

/* Below is .navbar-logo type settings on any device that has resolution 656px or larger */
@media screen and (min-width:656px) {
  .navbar-logo a {
    line-height: 1.2;
  }

  .navbar-logo {
    height: 100%;
  }

}

.navbar-item {
  display: inline-block;
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
  line-height: 1.5rem;
  height: 100%;
  text-align: right;
}

@media screen and (min-width:656px) {
  .navbar-item {
    padding-top: 0.85rem;
  }

}

.navbar-item-title {
  font-size: 0.833rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-item-title:hover {
  text-decoration: underline;
}

.navbar-item-title-left {
  padding-right: 1rem;
}
