.padding-left-xs {
	padding-left: 1rem;
}

.padding-right-xs {
	padding-right: 1rem;
}

.padding-left-s {
	padding-left: 1.5rem;
}

@media screen and (min-width:656px) {
	.padding-left-s {
		padding-left: 1rem;
	}

}

.padding-left-l {
	padding-left: 0rem;
}

@media screen and (min-width:656px) {
	.padding-left-l {
		padding-left: 4rem;
	}

}

.padding-left-m {
	padding-left: 0rem;
}

@media screen and (min-width:656px) {
	.padding-left-m {
		padding-left: 2rem;
	}

}

.padding-right-s {
	padding-right: 1.5rem;
}

@media screen and (min-width:656px) {
	.padding-right-s {
		padding-right: 1rem;
	}

}

.padding-top-l {
	padding-top: 2.5rem;
}

@media screen and (min-width:656px) {
	.padding-top-l {
		padding-top: 4rem;
	}

}

.padding-bottom-l {
	padding-bottom: 2.5rem;
}

@media screen and (min-width:656px) {
	.padding-bottom-l {
		padding-bottom: 4rem;
	}

}

.padding-bottom-m {
	padding-bottom: 2rem;
}

@media screen and (min-width:656px) {
	.padding-bottom-m {
		padding-bottom: 2.5rem;
	}

}

.padding-top-m {
	padding-top: 2rem;
}

@media screen and (min-width:656px) {
	.padding-top-m {
		padding-top: 2.5rem;
	}

}

.padding-top-s {
	padding-top: 1.5rem;
}

.padding-bottom-s {
	padding-bottom: 1.5rem;
}

.padding-top-xs {
	padding-top: 0.5rem;
}

.padding-bottom-xs {
	padding-bottom: 0.5rem;
}
