<div class="portfolio-grid"> 
    {% assign loopindex = 0 %}
    {% assign entries = site.portfolio_entries | sort: 'date' | reverse %}
    {% for entry in entries %}                       
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 3 %}
        {% if rowfinder == 1 %}
        <div class="row">
            <div class="four columns">
                <a href="{{ entry.url }}"><img class="u-max-full-width" src="{{ entry.thumb }}"></a>
                <p class="project-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
            </div>
        {% elsif rowfinder == 0 %}
                <div class="four columns">
                    <a href="{{ entry.url }}"><img class="u-max-full-width" src="{{ entry.thumb }}"></a>
                    <p class="project-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
                </div>
            </div>
        {% else %}
            <div class="four columns">
                <a href="{{ entry.url }}"><img class="u-max-full-width" src="{{ entry.thumb }}"></a>
                <p class="project-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
            </div>
         {% else %}
            <div class="four columns">
                <a href="{{ entry.url }}"><img class="u-max-full-width" src="{{ entry.thumb }}"></a>
                <p class="project-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
            </div>
        {% endif %}
    {% endfor %}
</div>
