:root {
  --ratio: 1.2;
  --base: 1;
  --base-rem: calc(var(--base) * 1rem);
  --base-px: calc(var(--base) * 16px);
}

:root {
  --ms-2:calc(var(--ms-1) / var(--ratio)); /* 0.694 */
  --ms-1:calc(var(--ms0) / var(--ratio)); /* 0.833 */
  --ms0:1;                               /* 1    */
  --ms1:var(--ratio);                    /* 1.2   */
  --ms2:calc(var(--ratio) * var(--ms1)); /* 1.44  */
  --ms3:calc(var(--ratio) * var(--ms2)); /* 1.728 */
  --ms4:calc(var(--ratio) * var(--ms3)); /* 2.074 */
  --ms5:calc(var(--ratio) * var(--ms4)); /* 2.488 */
  --ms6:calc(var(--ratio) * var(--ms5)); /* 2.986 */
  --ms7:calc(var(--ratio) * var(--ms6)); /* 3.583 */
}

html {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (min-width:656px) {
  html {
    font-size: 21px;
  }

}

body {
  font-size: 1rem;
  line-height: 1.728;    /* Better Font Rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #4B4DFF;
}

p {
  color: #212121;
  margin: 0;
}

.content-tags {
  color: #B6B6B6;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 2.074rem; /* ms5 */
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.08rem;
}

@media screen and (min-width:656px) {
  h1 {
    font-size: 2.488rem; /* ms6 */
    line-height: 1.2;
  }

}

@media screen and (min-width:992px) {
  h1 {
    font-size: 2.6rem; /* ms9 */
    line-height: 1.12;
    letter-spacing: -0.1rem;
  }

}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 2.074rem; /* ms4 */
  line-height: 1.44;
  font-weight: 700;
}

@media screen and (min-width:656px) {
  h2 {
    font-size: 2.488rem; /* ms5 */
    line-height: 1.2;
  }

}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 1.44rem; /* ms3 */
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

@media screen and (min-width:656px) {
  h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.728rem; /* ms3 */
    line-height: 1.2;
  }

}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 1.44rem; /* ms2 */
  line-height: 1.2;
  font-weight: 700;
}

h5 {
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem; /* ms1 */
  line-height: 1.2;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

h6 {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.44rem;
  font-weight: 300;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

@media screen and (min-width:656px) {
  h6 {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

}

.uppercase-title {
  font-size: 1rem; /* ms0 */
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
}

.caption {
  text-transform: uppercase;
  font-size: 0.6rem; /* ms-2 */
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #B6B6B6;
  margin-bottom: 0.5rem;
}

.caption-inline {
  margin-bottom: 0rem;
}
