---
layout: default
---

<section class="portfolio-entry-header">
  <div class="portfolio-entry-strip pos-rel" style="background-color: #{{ page.accent_color }}">
        <div class="container"> 
            <div class="row">
                <div class="col-7 portfolio-entry-strip-content-container flexcontainer">
                    <div class="">
                            <h3 class="portfolio-entry-strip-title">{{ page.title }}</h3>
                            <p class="portfolio-entry-strip-subtitle">{{ page.subtitle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    {{content}}
</section>

<section class="container">
    <h5 class="section-heading"><span>More from my portfolio</span></h5>
    {% include latest_work_widget.html %}
    <h6 class="page-section-link page-section-link-centered"><a href="/portfolio">View all projects</a></h6>
</section>
