---
layout: default
---

<div class="container padding-top-s">
    <hr/>
</div>

<section class="portfolio-entry-header">
    <div class="portfolio-entry-strip portfolio-entry-strip-header pos-rel">
        <div class="container">
            <div class="col col-7 page-section portfolio-entry-strip-content-container">
                <div class="col col-md-8 mobile-single">
                    <h3 class="portfolio-entry-strip-title-on-page">{{ page.title }}</h3>
                    <h4 class="portfolio-entry-strip-subtitle-on-page">{{ page.subtitle }}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    {{content}}
</section>

<section class="pagers container" style="background-color: #F7F7FF">

    <div class="col col-4 pager-strip pos-rel">
        {% if page.previous %}
        <a href="{{page.previous.url}}" class="portfolio-entry-link">
            <div class="col col-12 pos-rel z-index-2 u-pull-left">
                <h4 class="pager-link u-pull-left">←</h4>
             </div>
        </a>
        {% endif %}
    </div>

    <div class="col col-4 pager-strip pos-rel">
         <a href="/#recent-work" class="portfolio-entry-link">
            <h4 class="pager-strip-title">All work</h4>
        </a>
    </div>

    <div class="col col-4 pager-strip pos-rel">
        {% if page.next %}
        <a href="{{page.next.url}}" class="portfolio-entry-link">
            <div class="col col-12 pos-rel z-index-2 u-pull-right">
                <h4 class="pager-link u-pull-right">→</h4>
             </div>
        </a>
        {% endif %}
    </div>

</section>
