---
layout: default
---

<section class="portfolio-entry-header padding-bottom-m" {% if page.accent_color %} style="background-color: #{{ page.accent_color }};" {% endif %}>
    <div class="portfolio-entry-strip-header pos-rel">
        <div class="container">
            {% if page.header_image %}  
            <div class="col">
                <img class="image-block image-proportional center padding-bottom-s" src="{{ site.images_path }}/{{ page.header_image }}"/>
            </div>
            
            {% endif %}
            <div class="col col-7 page-section portfolio-entry-strip-content-container">
                <div class="container">
                    <h3 class="portfolio-entry-strip-title-on-page {% if page.header_color_invert %} invert {% endif %}">{{ page.title-on-page }}</h3>
                    <h4 class="portfolio-entry-strip-subtitle-on-page {% if page.header_color_invert %} invert {% endif %}">{{ page.subtitle }}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-xl padding-bottom-s">
    {{content}}
</section>

<section class="pagers container" style="background-color: #F7F7FF">

    <div class="col col-4 pager-strip pos-rel">
        {% if page.previous and page.previous.archived != true %}
        <a href="{{page.previous.url}}" class="portfolio-entry-link">
            <div class="col col-12 pos-rel z-index-2 u-pull-left">
                <h4 class="pager-link u-pull-left">←</h4>
             </div>
        </a>
        {% endif %}
    </div>

    <div class="col col-4 pager-strip pos-rel">
         <a href="/#recent-work" class="portfolio-entry-link">
            <h4 class="pager-strip-title">All work</h4>
        </a>
    </div>

    <div class="col col-4 pager-strip pos-rel">
        {% if page.next and page.next.archived != true %}
        <a href="{{page.next.url}}" class="portfolio-entry-link">
            <div class="col col-12 pos-rel z-index-2 u-pull-right">
                <h4 class="pager-link u-pull-right">→</h4>
             </div>
        </a>
        {% endif %}
    </div>

</section>
